/* Global Styles  */

header {
    margin: 0 auto 50px;
    border: 2px solid #A3DBED;
    border-radius: 10px;
    padding: 50px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

header nav ul a {
    color: #2D65A8;
    text-decoration: none;
    font-size: 1.2rem;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* game location */
.game-title {
    font-size: 7rem;
    margin: 50px auto;
    color: #E9BD31;
    text-align: center;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #345EA0;
    text-shadow: -15px 15px #1C315D;
    font-family: 'Pokemon Solid', sans-serif;

}

.card {
    width: 80%;
    height: 700px;
    background-image: linear-gradient(to bottom, #ff6e00, #f77444, #f08064, #ffcab0, #f4e2d0, #f1ddcd, #efe4cb, #c8e2ed, rgb(241, 199, 199), #f3cca2, #fe9d73, #fc4343, #f30f0f);
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 80px;
    justify-items: center;
    padding: 20px;
    border-image: round;
    border: 1px solid #A3DBED;


}

.card .img-responsive {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: none;
    height: 500px;
    position: relative;

}

.card p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    -webkit-text-stroke-color: #A3DBED;
    -webkit-text-stroke-width: .6px;
    font-size: large;
    text-shadow: #A3DBED;
    margin-bottom: 1px;
}

.card button {
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, rgb(255, 145, 0), rgb(255, 187, 0));
    border: 2px solid #A3DBED;
    border-style: double;
    padding: 10px;
    margin-left: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: 600ms;
    box-shadow: 0 40px 63px -60px #132A13;
    margin-top: none;
    margin-bottom: none;
    font-size: larger;

}

.card button:hover {
    animation: bounce .3s infinite alternate;
    box-shadow: 0 80px 63px -60px #132A13;
}

.card button:active {
    animation: translateY(5px);
    box-shadow: 0 40px 63px -60px #132A13;
}

@keyframes bounce {
    to {
        transform: scale(1.2);
    }
}

.nextRound {
    display: flex
}


/* Leader Board Page Styles  */
#leaderboard-main-container {
    text-align: center;
    margin: 30px auto;
}

#leaderboard-main-container h1 {
    font-size: 7rem;
    margin: 50px auto;
    color: #E9BD31;
    text-align: center;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #345EA0;
    text-shadow: -15px 15px #1C315D;
    font-family: 'Pokemon Solid', sans-serif;
}

#leaderboard-main-container table {
    border-collapse: collapse;
    border: none;
    font-size: 0.8rem;
    margin: 50px auto;
    padding: 30px;
}

td,
th {
    padding: 20px;
}

th {
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
}

td {
    font-size: 1rem;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(248, 255, 146);
}

tr:nth-child(odd) td {
    background-color: rgb(255, 194, 194);
}

/* Styles for end game form  */
#player-form-section {
    display: flex;
    position: absolute;
    top: 50%;
    left: 15%
}

#player-form-section legend {
    font-size: 3rem;
    text-align: center;
    margin: 30px auto;
}



body {
    background-image: linear-gradient(to right, rgb(255, 187, 0), rgb(255, 0, 0));



}

footer {
    margin: 50px auto 0;
    border: 5px solid #A3DBED;
    border-radius: 10px;
    padding: 50px;
    font-size: large;
    text-align: center;
}

header a {
    border: 2px solid #A3DBED;
    padding: 5px;
    background-image: linear-gradient(to bottom, rgb(255, 145, 0), rgb(255, 187, 0));
    box-shadow: 10px;
    color: #A3DBED;
    border-style: double;
}

.bye {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1600bd94;
    font-size: xx-large;
}

table {
    width: 80%;
    height: 400px;
    font-family: cursive;
    font-size: xx-large;
    -webkit-text-stroke-color: rgba(206, 58, 21, 0.797);
    -webkit-text-stroke-width: 1px;
}

td {
    font-size: 25px;
    font-size: xx-large;

}