
body {
    background-image: url('../assets/img/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #827C26;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #52423D;
    border-bottom: 2px solid #A3DBED;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;

}

header nav ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
    height: 30px;
}

header nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 30px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.game-title {
    z-index: -1;
    font-size: 5rem;
    margin: 30px auto;
    color: #E9BD31;
    text-align: center;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #345EA0;
    text-shadow: -5px 5px #1C315D;
    font-family: 'Pokemon Solid', sans-serif;
}

.card {
    width: 80%;
    height: 700px;
    background-image: linear-gradient(to bottom, #ff6e00, #f77444, #f08064, #ffcab0, #f4e2d0, #f1ddcd, #efe4cb, #c8e2ed, rgb(241, 199, 199), #f3cca2, #fe9d73, #fc4343, #f30f0f);
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 80px;
    justify-items: center;
    padding: 20px;
    border-image: round;
    border: 1px solid #A3DBED;


}

.card .img-responsive {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: none;
    height: 500px;
    position: relative;

}

.card p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .1px;
    font-size: large;
    color: white;
    text-shadow: black;
    margin-bottom: 1px;
}

.card img {
    margin: 30px auto;
}

.card #startGame {
    margin: 0px auto;
}

.card button {
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, rgb(255, 145, 0), rgb(255, 187, 0));
    border: 2px solid #A3DBED;
    border-style: double;
    padding: 10px;
    margin-left: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: 600ms;
    box-shadow: 0 40px 63px -60px #132A13;
    margin-top: none;
    margin-bottom: none;
    font-size: larger;

}

.card button:hover {
    animation: bounce .3s infinite alternate;
    box-shadow: 0 80px 63px -60px #132A13;
}

.card button:active {
    animation: translateY(5px);
    box-shadow: 0 40px 63px -60px #132A13;
}

@keyframes bounce {
    to {
        transform: scale(1.2);
    }
}

.nextRound {
    display: flex
}




#leaderboard-main-container {
    text-align: center;
    margin: 30px auto;
}

#leaderboard-main-container h1 {
    z-index: -1;
    font-size: 5rem;
    margin: 30px auto;
    color: #E9BD31;
    text-align: center;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #345EA0;
    text-shadow: -5px 5px #1C315D;
    font-family: 'Pokemon Solid', sans-serif;
}

#leaderboard-main-container table {
    border-collapse: collapse;
    border: none;
    font-size: 0.8rem;
    margin: 50px auto;
    padding: 30px;
    width: 80%;
    height: 400px;
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large;
    -webkit-text-stroke-width: 1px;
}

td,
th {
    padding: 20px;
}

th {
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.466);
}

td {
    text-align: center;
    font-size: xx-large;
}

tr:nth-child(even) td {
    background-color: rgba(34, 36, 48, 0.301);
}

tr:nth-child(odd) td {
    background-color: rgba(32, 65, 35, 0.247);
}

#player-form-section {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 20%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px auto;
    font-size: 1.2rem;
    background-color: #52423D99;
    color: white;
}

#player-form-section form {
    padding: 30px;
}

#player-form-section legend {
    font-size: 3rem;
    text-align: center;
    margin: 30px auto;
}

#about-main h1 {
    z-index: -1;
    font-size: 5rem;
    margin: 30px auto;
    color: #E9BD31;
    text-align: center;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #345EA0;
    text-shadow: -5px 5px #1C315D;
    font-family: 'Pokemon Solid', sans-serif;
}

#about-profile-container {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    gap: 1rem;
}

.profile-section {
    margin: 20px;
    background-color: #52423DD9;
    color: white;
    display: grid;
    grid-template-columns: 150px 150px 600px;
}

.profile-section:nth-of-type(even) {
    direction: rtl;
}

.profile-img {
    height: 80%;
    width: 80%;
    margin: 20px;
    border-radius: 50%;
}

.profile-name {
    align-self: center;
    padding: 10px;
    margin: 20px;
}

.profile-text {
    align-self: center;
    margin: 30px;
    line-height: 1.5;
}

footer {
    color: white;
    margin-top: 25px;
    border-top: 2px solid #A3DBED;
    border-radius: 10px 0px 0px;
    padding: 30px;
    font-size: small;
    text-align: center;
    background-color: #52423D;
    bottom: 0px;
    top: 100px;
}

#leaderboard-footer {
    position: relative;
}



.bye {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1600bd94;
    font-size: xx-large;
}